<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cool_logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,196}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,152},{654,196}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>nullimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,171},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>tx_t_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,200},{53,17}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,220},{53,17}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,200},{53,17}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,220},{53,17}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,895},{139,211}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,53},{139,211}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,495},{133,217}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{133,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,678},{137,217}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{137,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,678},{137,215}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{137,215}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,781},{135,217}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,35},{135,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,918},{135,213}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,49},{135,213}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,907},{139,217}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,35},{139,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{139,215}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{139,215}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,640},{139,217}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,43},{139,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,362},{135,201}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,66},{135,201}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,244},{73,91}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,146},{73,91}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,499},{139,217}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{139,217}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,412},{81,121}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,125},{81,121}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{107,165}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,105},{107,165}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{101,167}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,90},{101,167}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,784},{109,179}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{109,179}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,171},{95,189}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{95,189}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,714},{115,191}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{115,191}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_t_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,918},{131,207}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,56},{131,207}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>tx_xue_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,452},{224,256}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{224,256}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{240,300}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{240,300}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{210,300}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{210,300}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,372},{202,274}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{202,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,244},{206,274}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{206,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,576},{206,254}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,63},{206,254}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{168,256}}</string>
                <key>offset</key>
                <string>{-36,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{168,256}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>tx_xue_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,200},{170,278}}</string>
                <key>offset</key>
                <string>{-33,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{170,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cgLayer.png</string>
            <key>size</key>
            <string>{1063,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:368c15eaac762ae23598e50e45681c8c$</string>
            <key>textureFileName</key>
            <string>cgLayer.png</string>
        </dict>
    </dict>
</plist>
