<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addhp_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,519},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,81}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,519},{132,132}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{132,132}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1182},{118,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{118,116}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>bao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1721},{62,64}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{62,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1182},{100,112}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{100,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1648},{140,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{140,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,822},{168,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{168,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,992},{188,194}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,874},{190,164}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{190,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,484},{168,150}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1648},{170,142}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,49},{170,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>crmar_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,519},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>crmar_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,519},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>crmar_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1321},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>crmar_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>crmar_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>crmar_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>full_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1066},{108,50}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{108,50}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>hua_ts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,345},{204,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{204,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>lev_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1321},{455,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,325}}</string>
                <key>sourceSize</key>
                <string>{455,325}</string>
            </dict>
            <key>lev_vip_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>lev_vip_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1066},{191,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{191,61}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>newyear_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{488,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,286}}</string>
                <key>sourceSize</key>
                <string>{488,286}</string>
            </dict>
            <key>newyear_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,484},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>newyear_ic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1648},{78,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,71}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>newyear_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{218,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,54}}</string>
                <key>sourceSize</key>
                <string>{218,54}</string>
            </dict>
            <key>no_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,58},{285,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{285,212}}</string>
                <key>sourceSize</key>
                <string>{319,286}</string>
            </dict>
            <key>ts_dun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,654},{371,166}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{371,166}}</string>
                <key>sourceSize</key>
                <string>{407,184}</string>
            </dict>
            <key>ts_zd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1648},{172,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{172,90}}</string>
                <key>sourceSize</key>
                <string>{178,98}</string>
            </dict>
            <key>u_obuy_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1785},{40,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>u_over_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,822},{167,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,50}}</string>
                <key>sourceSize</key>
                <string>{167,52}</string>
            </dict>
            <key>u_over_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1321},{462,274}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,274}}</string>
                <key>sourceSize</key>
                <string>{470,274}</string>
            </dict>
            <key>ui_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1785},{36,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ui_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1785},{48,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ui_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,602},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,38}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ui_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,602},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ui_fly_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,484},{154,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{154,27}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inFram.png</string>
            <key>size</key>
            <string>{1828,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8908e7fa3bf6288c25bacadb6000a771:1/1$</string>
            <key>textureFileName</key>
            <string>inFram.png</string>
        </dict>
    </dict>
</plist>
