<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuTiger_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{480,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,333}}</string>
                <key>sourceSize</key>
                <string>{480,333}</string>
            </dict>
            <key>MenuTiger_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1413},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>MenuTiger_Get1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1281},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Get2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1149},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Get3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1017},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,885},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,885},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1468},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1468},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1468},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1386},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1386},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1386},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Move3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,803},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Show1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1497},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Show2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1497},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>MenuTiger_Show3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,463},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>about_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{800,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,426}}</string>
                <key>sourceSize</key>
                <string>{800,426}</string>
            </dict>
            <key>about_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{800,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,66}}</string>
                <key>sourceSize</key>
                <string>{800,66}</string>
            </dict>
            <key>ct_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,337},{497,289}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{497,289}}</string>
                <key>sourceSize</key>
                <string>{511,319}</string>
            </dict>
            <key>every_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1480},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>lev_help_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>lev_vip_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1295},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>lev_z_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1515},{202,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,51}}</string>
                <key>sourceSize</key>
                <string>{208,53}</string>
            </dict>
            <key>lev_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1505},{208,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{208,51}}</string>
                <key>sourceSize</key>
                <string>{208,53}</string>
            </dict>
            <key>lev_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1462},{202,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,51}}</string>
                <key>sourceSize</key>
                <string>{208,53}</string>
            </dict>
            <key>level_meg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{116,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,12}}</string>
                <key>sourceSize</key>
                <string>{116,12}</string>
            </dict>
            <key>m_bott_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{371,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,104}}</string>
                <key>sourceSize</key>
                <string>{371,104}</string>
            </dict>
            <key>m_entr.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1462},{224,41}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{224,41}}</string>
                <key>sourceSize</key>
                <string>{302,71}</string>
            </dict>
            <key>m_entr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1111},{182,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,18},{182,33}}</string>
                <key>sourceSize</key>
                <string>{302,71}</string>
            </dict>
            <key>m_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,628},{267,480}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,480}}</string>
                <key>sourceSize</key>
                <string>{281,480}</string>
            </dict>
            <key>no_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,897},{285,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{285,212}}</string>
                <key>sourceSize</key>
                <string>{319,286}</string>
            </dict>
            <key>prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{792,480}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>prize_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1437},{176,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,58}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>prize_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,819},{158,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{158,52}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>sim_20_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,2},{459,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,274}}</string>
                <key>sourceSize</key>
                <string>{459,274}</string>
            </dict>
            <key>sim_20_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1288},{170,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,50}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>tiger_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1413},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tiger_but_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1017},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>u_level_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1111},{249,175}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{249,175}}</string>
                <key>sourceSize</key>
                <string>{265,179}</string>
            </dict>
            <key>xz_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1237},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1237},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1088},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1088},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,612},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,628},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,897},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1288},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,897},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
            <key>xz_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,463},{189,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{191,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>outTwo.png</string>
            <key>size</key>
            <string>{1579,1579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24ec10694dcdb5a14d4b05a3d4304db5:1/1$</string>
            <key>textureFileName</key>
            <string>outTwo.png</string>
        </dict>
    </dict>
</plist>
